.section {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #111111, #222222);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  font-family: sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 0.4;
}
